.row, .row .row{
    border: 2px black solid;
    min-height: 80px;
}
.row > [class^="col"]{
    border: 2px black solid;
}

.bg-green{
    background-color: rgb(33, 199, 166);
}
.bg-darkblue{
    background-color: rgb(0, 35, 75);
}
.bg-darknavy{
    background-color: rgb(0, 25, 53);
}

a{
    text-decoration: none;
    color: white;
}

ul li{
    list-style: none;
    display: inline;
    margin-left: 20px;
}

.line{
    width: 35%;
    height: 3px;
}

/* BUTTONS*/

#download-btn{
    padding: 10px 15px;
    border: 2px white solid;
    border-radius: 10px;
}

/* HEADER */

header{
    height: 80px;
}
.fa-bars{
    display: none;
    color: rgba(255, 255, 255, 0.577);

    border: 2px solid rgba(255, 255, 255, 0.661);
    border-radius: 5px;

    padding: 5px 10px;
}

/* MAIN */

section{
    min-height: 80px;
}



/* #INTRO */

.avator{
    width: 50%;
}

/* #PORTFOLIO */

#portfolio img{
    width: 100%;
    border-radius: 10px;
}

/* #CONTACT */

/* FOOTER */
footer .footer-top .container{
    padding: 50px 0;
}



/* #RESPONSIVE */

@media screen and (max-width: 768px) {
    .container{
        max-width: 750px;
    }
}

@media screen and (max-width: 578px) {
    .container{
        width: 500px;
        padding: 0;
    }
    #nav-actions{
        display: none;
    }
    .fa-bars{
        display: block;
    }
    img{
        width: 60%;
    }
    #portfolio .row:last-child, .footer-top .row{
        flex-direction: column;
    }
}