.row, .row .row{
    border: 2px black solid;
    min-height: 100px;
}
.row > [class^="col"]{
    border: 2px white solid;
}

.bg-turquoise{
    background-color: turquoise;
}




/* HEADER */

header{
    background-color: navy;
    height: 100px;
}

/* MAIN */

section{
    min-height: 400px;
}





/* #INTRO */
/* #PORTFOLIO */
/* #ABOUT */
/* #CONTACT */

/* FOOTER */
